.title {
  color: rgba(240, 248, 255, 0);
}
.title:hover {
  color: #ffffff00;
}
.title:focus {
  color: black;
}
.title .link {
  color: #2196f3;
}
.title .link:focus {
  color: #2196f3;
}
.title .link:hover {
  color: black;
}
/* Навигация сайта*/
.nav {
  color: #2195f300;
}
.nav .link {
  color: #000000;
}
.nav .link:hover {
  color: #2196f3;
}
.nav .link:focus {
  color: #2196f3;
}
.email {
  color: #2196f3;
}
.email:hover {
  color: #000000;
}
.email:focus {
  color: #2196f3;
}
.tel {
  color: #000000;
}
.tel:hover {
  color: #2196f3;
}
.tel:focus {
  color: #2196f3;
}

/* Main */
.main {
  color: #2195f300;
}
.main .text {
  color: #0de6436e;
}
.main .button {
  color: #0de64377;
}
.post {
  color: #ffffff00;
}
.h3 {
  color: #212121;
}
.p {
  color: #757575;
}
